.image_style {
  display: block;
  margin: 0 0 0 auto;
  max-width: 800px;
  max-height: 1000px;
}
.image_style_right {
  max-width: 800px;
  max-height: 1000px;
  display: block;
  margin: 0 0 auto;
}
